@import '_index';

@font-face {
  font-family: Work Sans;
  src: url('/static/fonts/WorkSans-Regular.ttf');
}

.container {
  &.main {
    padding-top: 20px;
  }
  margin-left: 10%;
  margin-right: 10%;
}

* {
  font-family: Work Sans!important;
}

a, a:visited {
  color: black!important;
  text-decoration: none!important;
}